@using ContentComponents.Markdown;


<div>

    @foreach (var item in Items)
    {
        <p class="post">
            <MarkdownView Content=@item />
            <hr />
        </p>
    }

</div>



@code {
    [Parameter]
    public List<String> Items { get; set; } = new List<String>();
}